#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use text mode install
text
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sdb
# Keyboard layouts
keyboard --vckeymap=us --xlayouts=''
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=enp2s0 --ipv6=auto --no-activate
network  --bootproto=dhcp --device=enp4s0 --ipv6=auto
network  --hostname=atom

# Root password
rootpw --iscrypted $6$0tBRHXd5OC4pRZ1I$9Vr/EHgWlHcR8jyfAQPmrtR4uH2NGNDHaqScBqKhzgknfvpbMsPQPZCyoz5RvDo//EdxhDE.LWbQWyY1ng6bH1
# System services
services --enabled="chronyd"
# Do not configure the X Window System
skipx
# System timezone
timezone America/New_York --isUtc
user --groups=wheel --name=radiantalfred --password=$6$UKwNt0umb5iOR1gE$Ckhc4nZF717Vcmsldr/XgrSH6JnBQMaHAzxoNgmcSf0uZwE4ZyPDaddimTxBtCWOENKk/sgDejNmn5B15DKo4. --iscrypted --gecos="radiantalfred"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sdb
autopart --type=lvm
# Partition clearing information
clearpart --all --initlabel --drives=sdb

%packages
@core
chrony
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb = 'auto'

%end

%anaconda
pwpolicy root --minlen = 6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen = 6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen = 6 --minquality=1 --notstrict --nochanges --notempty
%end
